@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.swiper {
  width: 420px;
  height: 480px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-slide {
  /* display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px; */

}
